:root {
    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

* {
    /* margin: 0; */
    /* line-height: calc(1em + .5rem); */
}


html,
body,
.wrapper {
  min-height: 100%;
}

.wrapper {
  position: relative;
}

.wrapper .content-wrapper, .page-container{
  min-height: calc(100vh - calc(4rem + 1px) - calc(4rem + 1px));
}

body {
    font-family: 'Ubuntu', serif;
}

.text {
    font-size: calc(1em + 0.3vw);
}

#preloader2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #ffffff82;
}

#preloader2:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #1977cc;
  border-top-color: #d1e6f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.showTxt {
  color: blue;
}

.showTxt:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bg {
  background-image: linear-gradient(to bottom left,#4e4ebc, #9271f6);
  color: white;
}

.carisa-purple {
  color:#4e4ebc;
}

.carisa-purple-light {
  color: #9271f6;
}

.carisa-btn {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #4e4ebc;
  --bs-btn-border-color: #4e4ebc;
  --bs-btn-hover-color: #4e4ebc;
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color(#4e4ebc, 10%)};
  --bs-btn-focus-shadow-rgb: #4e4ebc;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color(#4e4ebc, 20%)};
  --bs-btn-active-border-color: #{shade-color(#4e4ebc, 20%)};
}

/* p {
  margin: 0 !important;
} */

